workflowBP_check.json
{
  "active": true,
  "connections": {
    "Wait2": {
      "main": [
        [
          {
            "node": "Запись данных в workProcess4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Без отметки доставлено мэтч по индексу (по ID) бп",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Структурируем http ответ": {
      "main": [
        [
          {
            "node": "Отправка данных в модуль статистики",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "получаем трек и отправляем только один": {
      "main": [
        [
          {
            "node": "Получаем данные по трекам с сайта Белпочты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "СЗПЦ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ввод отрибутов процесс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Без отметки доставлено мэтч по индексу (по ID) бп": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "С отметкой доставлено мэтч по индексу  (по ID) бп": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Входящие данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "С отметкой Вручено отправителюмэтч по индексу  (по ID) бп1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "С отметкой доставлено мэтч по индексу  (по ID) бп",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "С отметкой Вручено отправителюмэтч по индексу  (по ID) бп1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Завершение процесса. Возврат в тглавный процесс.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Входящие данные": {
      "main": [
        [
          {
            "node": "Ввод отрибутов процесс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "45db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные по трекам с сайта Белпочты": {
      "main": [
        [
          {
            "node": "Структурируем http ответ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ошибка при получении данных по треку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "СЗПЦ1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем трек и отправляем только один",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ошибка при получении данных по треку": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ввод отрибутов процесс": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных из workProcess1": {
      "main": [
        [
          {
            "node": "Проверка окончена ли предыдущая проверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка окончена ли предыдущая проверка": {
      "main": [
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись данных в workProcess4": {
      "main": [
        [
          {
            "node": "СЗПЦ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45db": {
      "main": [
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка данных в модуль статистики": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-07T10:24:25.294Z",
  "id": "zaIEqvN0dDW6spJg",
  "meta": null,
  "name": "BP_check",
  "nodes": [
    {
      "parameters": {
        "amount": 34.22,
        "unit": "seconds"
      },
      "id": "89c135e5-cdcd-4dcf-855f-2a6ba15e87a5",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1380,
        1420
      ],
      "webhookId": "2ae1c550-b2bb-4c3d-b1e2-59083bd2e1c7"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Трек номер",
              "value": "={{ $json[\"data\"][0][\"number\"] }}"
            },
            {
              "name": "Статус и дата обновления",
              "value": "={{ $json[\"data\"][0][\"steps\"][0][\"event\"] }} / {{ $json[\"data\"][0][\"steps\"][0][\"place\"] }}  / {{ $json[\"data\"][0][\"steps\"][0][\"place_index\"] }} / {{ $json[\"data\"][0][\"steps\"][0][\"created_at\"] }}"
            },
            {
              "name": "статус кор.",
              "value": "={{ $json[\"data\"][0][\"steps\"][0][\"event\"] }}"
            },
            {
              "name": "=индекс",
              "value": "={{ $('получаем трек и отправляем только один').item.json.индекс }}"
            }
          ],
          "number": [
            {
              "name": "table",
              "value": "={{ $('получаем трек и отправляем только один').item.json.table }}"
            },
            {
              "name": "page",
              "value": "={{ $('получаем трек и отправляем только один').item.json.page }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebb06afe-2a59-43e8-b2fb-7292c4df82b3",
      "name": "Структурируем http ответ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Статус и дата обновления'] }}",
              "operation": "contains",
              "value2": "Вручено"
            }
          ]
        }
      },
      "id": "ef6e5e18-cf29-4ae6-a3b7-5f1e77bf501b",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        1120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e0f1c7a3-d6c7-4e18-82ef-9c7399491ad7",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        980,
        520
      ]
    },
    {
      "parameters": {
        "content": "## Проверка БЕЛПОЧТЫ",
        "height": 80,
        "width": 321.4218402115646
      },
      "id": "09c1116d-bbdc-423d-86d7-115f4825e1ce",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42ce0e94-763f-4103-b3a9-931f25691f84",
      "name": "получаем трек и отправляем только один",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        1080
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 1
            }
          ]
        }
      },
      "id": "75dcec56-e54e-4250-b366-81cded91cc64",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        820
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b3dbe215-5f1c-4c3e-8b23-cc4adb44063f",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        1080
      ]
    },
    {
      "parameters": {
        "path": "bp_check",
        "options": {}
      },
      "id": "75f53e89-3f0c-4eee-ab80-34aa81fa57b7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -860,
        840
      ],
      "webhookId": "89dd9002-773a-498f-bc2d-7eae14045ffa"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления'] }} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Рос руб",
              "displayName": "Рос руб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f79a12c8-958b-474c-9a30-2b74a24902cf",
      "name": "Без отметки доставлено мэтч по индексу (по ID) бп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        1420
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googleApi": {
          "id": "GDgjQUZDylExDtx9",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Доставлено",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления'] }} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3d70677d-2c7b-4c6b-8082-4f4056592065",
      "name": "С отметкой доставлено мэтч по индексу  (по ID) бп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1520,
        1220
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleApi": {
          "id": "GDgjQUZDylExDtx9",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "4175559b-f33f-4c5b-a444-a1bbff2cfdf2",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1560,
        780
      ]
    },
    {
      "parameters": {},
      "id": "b502b0ad-3ca7-4a02-92f8-bb4c34786f5a",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Отправка данных в модуль статистики (отправляем на другой сервер)",
        "height": 319.835896535163,
        "width": 398.53641770154377
      },
      "id": "d9276557-6e87-4bb6-8033-9fe663c6e9d6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        660
      ]
    },
    {
      "parameters": {},
      "id": "8895d0a6-e2a8-407e-8b72-753034e595c0",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Статус и дата обновления'] }}",
              "operation": "contains",
              "value2": "Вручено отправителю"
            }
          ]
        }
      },
      "id": "bc85a16b-e9e4-4329-807b-4146987ec388",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        1040
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Вручено отправителю",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления']}} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6865da53-51d7-450f-b9fa-57cf4f7d4650",
      "name": "С отметкой Вручено отправителюмэтч по индексу  (по ID) бп1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1500,
        1020
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleApi": {
          "id": "GDgjQUZDylExDtx9",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"headers\": {\n      \"host\": \"n8ns.makees.site\",\n      \"user-agent\": \"axios/0.21.4\",\n      \"content-length\": \"82\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8ns.makees.site\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"316b8289a2b8\",\n      \"x-real-ip\": \"172.18.0.1\",\n      \"accept-encoding\": \"gzip\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"url_become\": \"https://n8ns.makees.site/webhook-waiting/179\",\n      \"processID\": \"ForIra\"\n    }\n  }\n]\n);"
      },
      "id": "4abfbe08-f98a-4e59-a52e-b0d52d40016f",
      "name": "Входящие данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -640,
        1020
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "https://n8n.makees.online/workflow/RWZ1VyvD7GhmW3Gc",
        "height": 80,
        "width": 397.1777493963409,
        "color": 4
      },
      "id": "ae6477e3-9eff-4213-916b-a834794a071d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.BP_check }}",
              "operation": "contains",
              "value2": "yes"
            }
          ]
        }
      },
      "id": "3e1908c3-dd5d-4f23-a760-f4e1c23ba802",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "contains",
              "value2": "={{ $('IF6').item.json.data.BP_check }}"
            }
          ]
        }
      },
      "id": "cbfb549b-d5be-48df-87d8-368aeb2bf6ac",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -480,
        1260
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "=zsotku.{{ $json['body.processID'] }}.BPcheck",
        "sourceType": "sourceTypeJson",
        "sourceData": "false"
      },
      "id": "66678d05-df1a-4b74-b155-291904ed7553",
      "name": "(TrackCollect_true) Запись ПерП1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1040,
        560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.belpost.by/api/v1/tracking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM0OTk3NDI4OTE1MjNjYzgxMTM5OTVlMGQwNWRjNDkyZGQ2NTBmM2Y2MTM4ZDA0ZGY4YTY2M2UxYmNlOTM4NTgyMWE4M2Y0NmFmYWYwYjMxIn0.eyJhdWQiOiIyIiwianRpIjoiMzQ5OTc0Mjg5MTUyM2NjODExMzk5NWUwZDA1ZGM0OTJkZDY1MGYzZjYxMzhkMDRkZjhhNjYzZTFiY2U5Mzg1ODIxYTgzZjQ2YWZhZjBiMzEiLCJpYXQiOjE2NzcwOTkyNzgsIm5iZiI6MTY3NzA5OTI3OCwiZXhwIjoxNzA4NjM1Mjc4LCJzdWIiOiIxMjAwNzY3Iiwic2NvcGVzIjpbXX0.JHJc9aEnNpWFzxJ6P-XvJsrgp6yrXe3mI39dsGmTBKD1gGubNJnIsJoUuke0nYP7bUjRYIwDmWYTQgWRJUCZPw42UeHgdQroce4K9QOXIE39r0z3jVgNIvsJCKb36Oy-1ZKwYxiaLBohlPohDrX--BYoq0Il8dl61CIa6BlxFxkqd27IkZ-6YZ45zbpFDexWXpLWhWJZ3-IuUXkz7Es_oa6ujRLBVyWxjwMuzpGZQFom1Kxh2gAimBgUEiXhRBd_Fe-hpNmQ0Gw5h_N-udtXGbGrHxaARriUhPd70pFJ-Ns_4ucbvgfDqo3MP_XzxYct898S2dPZyro0FCTGePy-4i9JKUAB_tjEutfj60N9mKVlTB9642lJ81lJkXNsxOeXunkUSk53pVcHxHwv8v4NneWQ2KlhbTOUzS5exvBb6At1NWuNV_6FRjYlkIv_Aqii76K-sZfKmGMqkuK0Abb8ygh86xIu3O-MiacDQvsaUpbMl_MY2Xm-XMb13phHD6LL2yPuHIWGUp6i9DDgOxAzBFQqrDwqRkcIhwS_aYXqiuvupY7rv5RrP3lzv9FR_WWF57Q3Z2HmP98KA2xRoVLt7m1ARC1Tr7Ucmanm57XFfwdRZUP7L2lW1TsMWcgJPqmD5SCQJlg50_BZopwh0aVO5BzsiBISxFoaGXMPJ96KbLs"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.трек }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7716d539-b907-4b1a-9980-09e597105e61",
      "name": "Получаем данные по трекам с сайта Белпочты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        640,
        840
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8501bbca-af69-4013-980a-5a903c502a79",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        1060
      ]
    },
    {
      "parameters": {},
      "id": "16b9f756-849a-45cf-8911-bcf2fc15249d",
      "name": "ошибка при получении данных по треку",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "4c804c03-ad5f-406b-9ad8-ea8c7a438e49",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').item.json.processID }}.json "
      },
      "id": "731436dd-3663-48e4-9b8e-9bf975ea885f",
      "name": "Чтение данных всего файла в JsonDatabase",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -240,
        660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "processID",
              "value": "={{ $json.body.processID }}"
            },
            {
              "name": "url_become",
              "value": "={{ $json.body.url_become }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "0f47603a-55a8-48fc-8e21-1353fc6fdafd",
      "name": "Ввод отрибутов процесс",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -640,
        840
      ],
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.traks.BP_traks",
        "options": {}
      },
      "id": "8cc86b8a-05ed-4c9e-a500-a31bf5cf3a5c",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -40,
        660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "7f6a7b62-d6f6-44b0-afab-52808f14c6a0",
      "name": "СЗПЦ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        1300
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "956b89da-c8c8-4474-989a-10de3b922dec",
      "name": "СЗПЦ1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        640
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $('Ввод отрибутов процесс').first().json.url_become }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "=BP_check"
            },
            {
              "name": "status",
              "value": "OK"
            }
          ]
        },
        "options": {}
      },
      "id": "57861819-58d4-4423-ae57-6fc3cb882747",
      "name": "Завершение процесса. Возврат в тглавный процесс.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        460
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "queryPath": "process.workProcess",
        "filePath": "=root/n8n/{{ $json.processID }}.json"
      },
      "id": "36adead6-134e-4790-b266-d67c1c51b56f",
      "name": "Чтение данных из workProcess1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -600,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.BP_check }}",
              "operation": "contains",
              "value2": "no"
            }
          ]
        }
      },
      "id": "b85f3e47-6060-4ccb-b9e6-f59adad8365c",
      "name": "Проверка окончена ли предыдущая проверка",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        860
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.workProcess.BP_check",
        "sourceType": "sourceTypeJson",
        "sourceData": "=\"{{ $('получаем трек и отправляем только один').first().json.трек }}\"",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}.json"
      },
      "id": "7d6191ed-244b-49f0-9f50-b916f4b2e0fe",
      "name": "Запись данных в workProcess4",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1580,
        1420
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').item.json.processID }}.json "
      },
      "id": "afefd373-216e-4c6f-a133-117b5af6d61d",
      "name": "Чтение данных всего файла в JsonDatabase1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -720,
        1300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.traks.BP_traks",
        "options": {}
      },
      "id": "775251d1-0652-4614-8c8c-e04c2e88f594",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -680,
        1480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Ввод отрибутов процесс').first().json.tracks_bp_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Ввод отрибутов процесс').first().json.tracks_bp_pageID }}",
          "mode": "id"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": "={{ $json.row_number }}"
            }
          }
        }
      },
      "id": "02d4bfd8-055c-4d22-b6a1-423156c4b6a6",
      "name": "Получаем треки БП2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -260,
        1680
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.inkr }}",
              "operation": "largerEqual",
              "value2": "={{ $('45db').first().json.inkr }}"
            }
          ]
        }
      },
      "id": "93e71fad-3f66-4d72-a111-f11fceccbca4",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        40,
        1480
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "inkr",
              "type": "numberValue",
              "numberValue": "={{$now.toMillis()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6feeab36-71e3-4677-b27a-657363ef63e6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -520,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "672a4d95-0cec-4af6-bf17-eac7c97cb25a",
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -60,
        1260
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "9bac58e4-392f-44c7-8ed0-5f6c9486709a",
      "name": "45db",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -280,
        1260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.makees.online/webhook/Statistic",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "Трек номер",
              "value": "={{ $json['Трек номер'] }}"
            },
            {
              "name": "Статус и дата обновления",
              "value": "={{ $json['Статус и дата обновления'] }}"
            },
            {
              "name": "индекс",
              "value": "={{ $json.индекс }}"
            },
            {
              "name": "=processID",
              "value": "={{ $('Ввод отрибутов процесс').first().json.processID }}_ru"
            }
          ]
        },
        "options": {}
      },
      "id": "0e0a27d0-77e9-4dc5-9fda-e3be47957045",
      "name": "Отправка данных в модуль статистики",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1360,
        780
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9xZXC0dhBMS34gPe"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-06T10:16:22.934Z",
      "updatedAt": "2024-01-06T10:16:22.934Z",
      "id": "gHcxFA3Ts7cVbnwX",
      "name": "json"
    },
    {
      "createdAt": "2024-01-06T10:16:22.935Z",
      "updatedAt": "2024-01-06T10:16:22.935Z",
      "id": "grLW74CmdwLIxxqL",
      "name": "potap"
    },
    {
      "createdAt": "2024-01-06T10:16:22.937Z",
      "updatedAt": "2024-01-06T10:16:22.937Z",
      "id": "raZE8lC0z7FYUuSz",
      "name": "treck_check"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-14T12:00:56.000Z",
  "versionId": "7d7bbe1e-b9de-4b2e-a427-f88aa16b6b7a"
}