workflowCheckALL.json
{
  "active": true,
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches2": {
      "main": [
        [
          {
            "node": "Получаем данные проверяемой страницы",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "СЗПЦ2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E_b2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ввод id статичных таблиц",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем трекномер на соответствие шаблону белпо1": {
      "main": [
        [
          {
            "node": "проверяем трекномер на соответствие шаблону европочта9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "Обнуление данных в checkProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ввод id статичных таблиц": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные проверяемой страницы": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убираем пустые строки": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Убираем пустые строки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем трекномер на соответствие шаблону европочта9": {
      "main": [
        [
          {
            "node": "проверяем трекномер на соответствие шаблону европочта10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем трекномер на соответствие шаблону европочта10": {
      "main": [
        [
          {
            "node": "СЗПЦ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "СЗПЦ1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор неверных данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Ввод id статичных таблиц",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "проверяем трекномер на соответствие шаблону белпо1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ1": {
      "main": [
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase": {
      "main": [
        [
          {
            "node": "проверяем трекномер на соответствие шаблону белпо",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем трекномер на соответствие шаблону белпо": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "СЗПЦ3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем все треки в один массив": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор неверных данных": {
      "main": [
        [
          {
            "node": "Объединяем все треки в один массив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись данных в traks1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Запись данных в traks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Запись данных в traks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись данных в traks2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск модуля проверки": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ4": {
      "main": [
        [
          {
            "node": "Запуск модуля проверки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обнуление данных в checkProcess": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "СЗПЦ4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-07T10:25:36.506Z",
  "id": "K8m9QTn1mEWC9m3p",
  "meta": null,
  "name": "CheckALL",
  "nodes": [
    {
      "parameters": {},
      "id": "91e45a05-1a4a-4ad7-a20b-958d05050fc4",
      "name": "E_b2",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        1280
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Таблица }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Страница }}",
          "mode": "id"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "23e85a19-56ad-40ba-8ad4-6369e150eb1f",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        760,
        740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "GDgjQUZDylExDtx9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 7
            }
          ]
        }
      },
      "id": "d4f2a081-d8c5-4e2e-8894-128eebea85b7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "bd7b316b-4a31-4d6a-83d1-1a68c59d9f28",
      "name": "Split In Batches2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        340,
        1040
      ]
    },
    {
      "parameters": {
        "path": "checkProcess",
        "options": {}
      },
      "id": "cdb5ad2e-a76a-4dd7-8fd2-030a77828a2a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        1060
      ],
      "webhookId": "c7dd6202-ad5a-4d27-94b1-67ac4ddff2df"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "506db7ee-e39e-42e9-9916-70efc59c8c84",
      "name": "проверяем трекномер на соответствие шаблону белпо1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        840
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_become",
              "value": "={{ $json.body.url_become }}"
            },
            {
              "name": "processID",
              "value": "={{ $json.body.processID }}"
            },
            {
              "name": "main_tableID",
              "value": "={{ $json.body.main_tableID }}"
            }
          ],
          "number": [
            {
              "name": "main_pageID",
              "value": "={{ $json.body.main_pageID }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "b8b6de98-bc4f-4e19-894d-d49e0e5d9723",
      "name": "Ввод id статичных таблиц",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -360,
        1060
      ],
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "id": "4b040567-c754-4be6-ae60-1cfa019b7316",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        120,
        1440
      ]
    },
    {
      "parameters": {},
      "id": "f2d7f179-5e8b-421d-963b-9a1aa17edb72",
      "name": "No Operation, do nothing6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        220,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Ввод id статичных таблиц').first().json.url_become }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "TrackCollect",
              "value": "OK"
            }
          ]
        },
        "options": {}
      },
      "id": "5d7ef87a-bc7f-4546-a281-76b8f1078b48",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "options": {
          "dotNotation": false
        }
      },
      "id": "181432d8-f2c8-4526-9a8b-a7d7220d6282",
      "name": "Получаем данные проверяемой страницы",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        1020
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.main_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.main_pageID }}",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Чек-бокс",
              "lookupValue": "true"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "d70d0071-1408-45a8-91fc-54259ee12e2d",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -140,
        1060
      ],
      "credentials": {
        "googleApi": {
          "id": "GDgjQUZDylExDtx9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.Страница }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "fc06fbe3-6c02-419d-ab04-300e2d4b0e5a",
      "name": "Убираем пустые строки",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Актуальный статус'] }}",
              "operation": "regex",
              "value2": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
            },
            {
              "value1": "={{ $json['Актуальный статус'] }}",
              "operation": "regex",
              "value2": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]B|bY|Y"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "59903152-3e31-4d04-a575-d695544d4ce4",
      "name": "проверяем трекномер на соответствие шаблону европочта9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        620
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Актуальный статус'] }}",
              "operation": "contains",
              "value2": "={{ $json.трек }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2c293ed3-5f87-40dc-85fa-60af6de08676",
      "name": "проверяем трекномер на соответствие шаблону европочта10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        1240
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "20678427",
        "text": "При проверки процесса ForIra найдены ошибки. Подробнее в логах процесса.",
        "additionalFields": {}
      },
      "id": "cddc2ddb-b63a-4590-8696-7e3814bb9018",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2000,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $json.processID }}.json"
      },
      "id": "fa74bdb9-e1ea-4948-89f8-7b3f68ef8604",
      "name": "Чтение данных всего файла в JsonDatabase2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -20,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "return(\n  [\n  {\n    \"headers\": {\n      \"host\": \"n8ns.makees.site\",\n      \"user-agent\": \"axios/0.21.4\",\n      \"content-length\": \"167\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8ns.makees.site\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"e8109027b64a\",\n      \"x-real-ip\": \"172.18.0.1\",\n      \"accept-encoding\": \"gzip\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"processID\": \"ForIra\",\n      \"main_tableID\": \"16oHTECcQN5z7xQ-3zBZCfgFNOM5MX0N7bE3S3QeiX1s\",\n      \"main_pageID\": 874646227,\n      \"url_become\": \"https://n8ns.makees.site/webhook-waiting/23\"\n    }\n  }\n]\n);"
      },
      "id": "5d8daa88-81c6-45a8-90b2-1090beaa416d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        1280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 500,
        "keep": "lastItems"
      },
      "id": "2d2f18fc-331d-4502-af98-4ad7ffdab8df",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        920,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "3b551d6a-9c7a-4861-a414-f9c2c2c9b252",
      "name": "СЗПЦ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        1260
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "13f297f2-1535-4754-9ee9-8de0dd70d094",
      "name": "СЗПЦ2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        440,
        820
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "трек",
              "value": "={{ $json.трек }}"
            },
            {
              "name": "индекс",
              "value": "={{ $json.Индекс }}"
            },
            {
              "name": "таблица",
              "value": "={{ $('Получаем данные проверяемой страницы').first().json.Таблица }}"
            }
          ],
          "number": [
            {
              "name": "страница",
              "value": "={{ $('Получаем данные проверяемой страницы').first().json.Страница }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "4eb15746-d1f1-4150-9239-c86428e56982",
      "name": "Сбор неверных данных",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1440,
        780
      ],
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "e6ef3329-5f78-4a76-a758-83fbcd2efdd6",
      "name": "СЗПЦ1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1460,
        940
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json"
      },
      "id": "2ed572f1-ecd4-48fb-86d2-bf2de1c80df3",
      "name": "Чтение данных всего файла в JsonDatabase",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1660,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.checkProcess.Iteration }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "e865948f-a2e7-455a-a151-79802637a814",
      "name": "проверяем трекномер на соответствие шаблону белпо",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1840,
        940
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "checkProcess.Iteration",
        "sourceType": "sourceTypeJson",
        "sourceData": "=1",
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json  "
      },
      "id": "cdf67a8b-5d98-4180-8ac1-99e418bc782e",
      "name": "Запись данных в traks1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        2340,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Traks",
        "options": {}
      },
      "id": "e1bb207f-ebef-4cc4-a289-b95c22329f69",
      "name": "Объединяем все треки в один массив",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1940,
        780
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "ccf1cf3f-9650-4501-9dc7-ce32b051d14f",
      "name": "СЗПЦ3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1840,
        1240
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "ac966e3f-cee5-4a00-bc2c-e5e2a37431a7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2040,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "checkProcess.Traks",
        "sourceType": "sourceTypeJson",
        "sourceData": "={{ JSON.stringify($input.item.json.Traks) }}",
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json  "
      },
      "id": "0a80e880-4b5a-4adb-bc68-a8d8795a1fc3",
      "name": "Запись данных в traks2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        2340,
        1080
      ]
    },
    {
      "parameters": {
        "errorMessage": "Модуль проверки процессов обнаружил несоответствующие записи в таблице. Процесс перепроверки перезапущен для перепроверки."
      },
      "id": "1cbba1ec-9bbe-4996-b880-823621acdd68",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2840,
        1000
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.makees.ru/webhook/checkProcess",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=processID",
              "value": "={{ $('Ввод id статичных таблиц').first().json.processID }}"
            },
            {
              "name": "main_tableID",
              "value": "={{ $('Ввод id статичных таблиц').first().json.main_tableID }}"
            },
            {
              "name": "main_pageID",
              "value": "={{ $('Ввод id статичных таблиц').first().json.main_pageID }}"
            },
            {
              "name": "url_become",
              "value": "={{ $('Ввод id статичных таблиц').first().json.url_become }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2d864a1f-b312-4129-bc42-232f37778e64",
      "name": "Запуск модуля проверки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2860,
        1160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "384a67c1-5077-4ef4-a2ce-954f8f233343",
      "name": "СЗПЦ4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2680,
        1160
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "checkProcess",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n\"Iteration\": 0,\n\"Traks\": \n{\n}\n}",
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json  "
      },
      "id": "7b70120a-1814-46fc-924c-114acb14bf96",
      "name": "Обнуление данных в checkProcess 1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -240,
        740
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "checkProcess",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n\"Iteration\": 0,\n\"Traks\": \n{\n}\n}",
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json  "
      },
      "id": "0658a898-7b2a-4c15-8fd0-e1628ccb07d2",
      "name": "Обнуление данных в checkProcess",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "49031eee-ab7d-498e-a4cb-481b9ccb9b80",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2500,
        1160
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Traks",
              "field2": "Traks"
            }
          ]
        },
        "resolve": "mix",
        "options": {}
      },
      "id": "7e22c581-f704-41a9-898d-8c0dc601be70",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        2380,
        800
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Traks",
              "type": "arrayValue",
              "arrayValue": "={{ $json.data.checkProcess.Traks }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "07c825ee-3c86-4d27-a973-0f2448748df4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2140,
        920
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.таблица }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.страница }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Не доставлено",
            "Актуальный статус": "Ошибочная отметка. Статус выставлен для перепроверки.",
            "Индекс": "={{ $json.индекс }}"
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "efe27d3b-aff9-48f0-a874-e801a6f44b10",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2680,
        1400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "GDgjQUZDylExDtx9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Traks",
        "options": {}
      },
      "id": "d7abc80e-46f9-4677-b01b-5bc948914dfc",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2600,
        780
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9xZXC0dhBMS34gPe"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-06T10:16:22.934Z",
      "updatedAt": "2024-01-06T10:16:22.934Z",
      "id": "gHcxFA3Ts7cVbnwX",
      "name": "json"
    },
    {
      "createdAt": "2024-01-06T10:16:22.935Z",
      "updatedAt": "2024-01-06T10:16:22.935Z",
      "id": "grLW74CmdwLIxxqL",
      "name": "potap"
    },
    {
      "createdAt": "2024-01-06T10:16:22.937Z",
      "updatedAt": "2024-01-06T10:16:22.937Z",
      "id": "raZE8lC0z7FYUuSz",
      "name": "treck_check"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-14T12:02:41.000Z",
  "versionId": "71f3a126-326e-4794-91c7-9781e7b6e9ab"
}